Projet_D314/Sources/WebService/WebServiceOde/web/OdeServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<definitions targetNamespace="http://projetode.org/" name="OdeServiceImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://projetode.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://projetode.org/" schemaLocation="OdeServiceImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="GetCombinaisons">
    <part name="parameters" element="tns:GetCombinaisons"/>
  </message>
  <message name="GetCombinaisonsResponse">
    <part name="parameters" element="tns:GetCombinaisonsResponse"/>
  </message>
  <message name="TestMetropolis">
    <part name="parameters" element="tns:TestMetropolis"/>
  </message>
  <message name="TestMetropolisResponse">
    <part name="parameters" element="tns:TestMetropolisResponse"/>
  </message>
  <message name="Metropolis">
    <part name="parameters" element="tns:Metropolis"/>
  </message>
  <message name="MetropolisResponse">
    <part name="parameters" element="tns:MetropolisResponse"/>
  </message>
  <message name="MaterialisationPartielle">
    <part name="parameters" element="tns:MaterialisationPartielle"/>
  </message>
  <message name="MaterialisationPartielleResponse">
    <part name="parameters" element="tns:MaterialisationPartielleResponse"/>
  </message>
  <message name="TestMaterialisationPartielle">
    <part name="parameters" element="tns:TestMaterialisationPartielle"/>
  </message>
  <message name="TestMaterialisationPartielleResponse">
    <part name="parameters" element="tns:TestMaterialisationPartielleResponse"/>
  </message>
  <message name="TestGetCombinaisonsIndex">
    <part name="parameters" element="tns:TestGetCombinaisonsIndex"/>
  </message>
  <message name="TestGetCombinaisonsIndexResponse">
    <part name="parameters" element="tns:TestGetCombinaisonsIndexResponse"/>
  </message>
  <message name="TestGetCombinaisons">
    <part name="parameters" element="tns:TestGetCombinaisons"/>
  </message>
  <message name="TestGetCombinaisonsResponse">
    <part name="parameters" element="tns:TestGetCombinaisonsResponse"/>
  </message>
  <message name="GetCombinaisonsIndex">
    <part name="parameters" element="tns:GetCombinaisonsIndex"/>
  </message>
  <message name="GetCombinaisonsIndexResponse">
    <part name="parameters" element="tns:GetCombinaisonsIndexResponse"/>
  </message>
  <portType name="OdeService">
    <operation name="GetCombinaisons">
      <input wsam:Action="http://projetode.org/OdeService/GetCombinaisonsRequest" message="tns:GetCombinaisons"/>
      <output wsam:Action="http://projetode.org/OdeService/GetCombinaisonsResponse" message="tns:GetCombinaisonsResponse"/>
    </operation>
    <operation name="TestMetropolis">
      <input wsam:Action="http://projetode.org/OdeService/TestMetropolisRequest" message="tns:TestMetropolis"/>
      <output wsam:Action="http://projetode.org/OdeService/TestMetropolisResponse" message="tns:TestMetropolisResponse"/>
    </operation>
    <operation name="Metropolis">
      <input wsam:Action="http://projetode.org/OdeService/MetropolisRequest" message="tns:Metropolis"/>
      <output wsam:Action="http://projetode.org/OdeService/MetropolisResponse" message="tns:MetropolisResponse"/>
    </operation>
    <operation name="MaterialisationPartielle">
      <input wsam:Action="http://projetode.org/OdeService/MaterialisationPartielleRequest" message="tns:MaterialisationPartielle"/>
      <output wsam:Action="http://projetode.org/OdeService/MaterialisationPartielleResponse" message="tns:MaterialisationPartielleResponse"/>
    </operation>
    <operation name="TestMaterialisationPartielle">
      <input wsam:Action="http://projetode.org/OdeService/TestMaterialisationPartielleRequest" message="tns:TestMaterialisationPartielle"/>
      <output wsam:Action="http://projetode.org/OdeService/TestMaterialisationPartielleResponse" message="tns:TestMaterialisationPartielleResponse"/>
    </operation>
    <operation name="TestGetCombinaisonsIndex">
      <input wsam:Action="http://projetode.org/OdeService/TestGetCombinaisonsIndexRequest" message="tns:TestGetCombinaisonsIndex"/>
      <output wsam:Action="http://projetode.org/OdeService/TestGetCombinaisonsIndexResponse" message="tns:TestGetCombinaisonsIndexResponse"/>
    </operation>
    <operation name="TestGetCombinaisons">
      <input wsam:Action="http://projetode.org/OdeService/TestGetCombinaisonsRequest" message="tns:TestGetCombinaisons"/>
      <output wsam:Action="http://projetode.org/OdeService/TestGetCombinaisonsResponse" message="tns:TestGetCombinaisonsResponse"/>
    </operation>
    <operation name="GetCombinaisonsIndex">
      <input wsam:Action="http://projetode.org/OdeService/GetCombinaisonsIndexRequest" message="tns:GetCombinaisonsIndex"/>
      <output wsam:Action="http://projetode.org/OdeService/GetCombinaisonsIndexResponse" message="tns:GetCombinaisonsIndexResponse"/>
    </operation>
  </portType>
  <binding name="OdeServiceImplPortBinding" type="tns:OdeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="GetCombinaisons">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="TestMetropolis">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Metropolis">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="MaterialisationPartielle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="TestMaterialisationPartielle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="TestGetCombinaisonsIndex">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="TestGetCombinaisons">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetCombinaisonsIndex">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="OdeServiceImplService">
    <port name="OdeServiceImplPort" binding="tns:OdeServiceImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

