Projet_D314/Sources/Client/WpfApplication2/Service References/ServiceReference1/CalculsSimples.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://emiage.org/" targetNamespace="http://emiage.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="additionner" type="tns:additionner" />
  <xs:element name="additionnerResponse" type="tns:additionnerResponse" />
  <xs:element name="decomposer" type="tns:decomposer" />
  <xs:element name="decomposerResponse" type="tns:decomposerResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="premier" type="tns:premier" />
  <xs:element name="premierResponse" type="tns:premierResponse" />
  <xs:complexType name="premier">
    <xs:sequence>
      <xs:element name="entier" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="premierResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="decomposer">
    <xs:sequence>
      <xs:element name="entier" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="decomposerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="additionner">
    <xs:sequence>
      <xs:element name="nombreA" type="xs:double" />
      <xs:element name="nombreB" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="additionnerResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>