Projet_D314/Sources/Client/WpfApplication2/Service References/ServiceReference1/CalculsSimples.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://emiage.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CalculsSimples" targetNamespace="http://emiage.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CalculsSimplesPortBindingPolicy">
    <ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
  </wsp:Policy>
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/MathsWebServices/CalculsSimples?xsd=1" namespace="http://emiage.org/" />
    </xsd:schema>
  </types>
  <message name="decomposer">
    <part name="parameters" element="tns:decomposer" />
  </message>
  <message name="decomposerResponse">
    <part name="parameters" element="tns:decomposerResponse" />
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="additionner">
    <part name="parameters" element="tns:additionner" />
  </message>
  <message name="additionnerResponse">
    <part name="parameters" element="tns:additionnerResponse" />
  </message>
  <message name="premier">
    <part name="parameters" element="tns:premier" />
  </message>
  <message name="premierResponse">
    <part name="parameters" element="tns:premierResponse" />
  </message>
  <portType name="CalculsSimples">
    <operation name="decomposer">
      <input wsam:Action="http://emiage.org/CalculsSimples/decomposerRequest" message="tns:decomposer" />
      <output wsam:Action="http://emiage.org/CalculsSimples/decomposerResponse" message="tns:decomposerResponse" />
    </operation>
    <operation name="hello">
      <input wsam:Action="http://emiage.org/CalculsSimples/helloRequest" message="tns:hello" />
      <output wsam:Action="http://emiage.org/CalculsSimples/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="additionner">
      <input wsam:Action="http://emiage.org/CalculsSimples/additionnerRequest" message="tns:additionner" />
      <output wsam:Action="http://emiage.org/CalculsSimples/additionnerResponse" message="tns:additionnerResponse" />
    </operation>
    <operation name="premier">
      <input wsam:Action="http://emiage.org/CalculsSimples/premierRequest" message="tns:premier" />
      <output wsam:Action="http://emiage.org/CalculsSimples/premierResponse" message="tns:premierResponse" />
    </operation>
  </portType>
  <binding name="CalculsSimplesPortBinding" type="tns:CalculsSimples">
    <wsp:PolicyReference URI="#CalculsSimplesPortBindingPolicy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="decomposer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="additionner">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="premier">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CalculsSimples">
    <port name="CalculsSimplesPort" binding="tns:CalculsSimplesPortBinding">
      <soap:address location="http://localhost:8080/MathsWebServices/CalculsSimples" />
    </port>
  </service>
</definitions>