Projet_D314/Sources/WebService/OdeServiceImplService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://projetode.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://projetode.org/" name="OdeServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://projetode.org/" schemaLocation="http://127.0.0.1:8080/WebServiceOde/OdeServiceImplService?xsd=1"/>
</xsd:schema>
</types>
<message name="GetCombinaisons">
<part name="parameters" element="tns:GetCombinaisons"/>
</message>
<message name="GetCombinaisonsResponse">
<part name="parameters" element="tns:GetCombinaisonsResponse"/>
</message>
<message name="Metropolis">
<part name="parameters" element="tns:Metropolis"/>
</message>
<message name="MetropolisResponse">
<part name="parameters" element="tns:MetropolisResponse"/>
</message>
<message name="MaterialisationPartielle">
<part name="parameters" element="tns:MaterialisationPartielle"/>
</message>
<message name="MaterialisationPartielleResponse">
<part name="parameters" element="tns:MaterialisationPartielleResponse"/>
</message>
<portType name="OdeService">
<operation name="GetCombinaisons">
<input wsam:Action="http://projetode.org/OdeService/GetCombinaisonsRequest" message="tns:GetCombinaisons"/>
<output wsam:Action="http://projetode.org/OdeService/GetCombinaisonsResponse" message="tns:GetCombinaisonsResponse"/>
</operation>
<operation name="Metropolis">
<input wsam:Action="http://projetode.org/OdeService/MetropolisRequest" message="tns:Metropolis"/>
<output wsam:Action="http://projetode.org/OdeService/MetropolisResponse" message="tns:MetropolisResponse"/>
</operation>
<operation name="MaterialisationPartielle">
<input wsam:Action="http://projetode.org/OdeService/MaterialisationPartielleRequest" message="tns:MaterialisationPartielle"/>
<output wsam:Action="http://projetode.org/OdeService/MaterialisationPartielleResponse" message="tns:MaterialisationPartielleResponse"/>
</operation>
</portType>
<binding name="OdeServiceImplPortBinding" type="tns:OdeService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetCombinaisons">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Metropolis">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MaterialisationPartielle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OdeServiceImplService">
<port name="OdeServiceImplPort" binding="tns:OdeServiceImplPortBinding">
<soap:address location="http://127.0.0.1:8080/WebServiceOde/OdeServiceImplService"/>
</port>
</service>
</definitions>