Projet_D314/Sources/Temp/AppliMerge/WpfApplication2/Service References/OdeService/OdeServiceImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://projetode.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="OdeServiceImplService" targetNamespace="http://projetode.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebServiceOde/OdeServiceImplService?xsd=1" namespace="http://projetode.org/" />
    </xsd:schema>
  </types>
  <message name="MaterialisationPartielle">
    <part name="parameters" element="tns:MaterialisationPartielle" />
  </message>
  <message name="MaterialisationPartielleResponse">
    <part name="parameters" element="tns:MaterialisationPartielleResponse" />
  </message>
  <message name="Metropolis">
    <part name="parameters" element="tns:Metropolis" />
  </message>
  <message name="MetropolisResponse">
    <part name="parameters" element="tns:MetropolisResponse" />
  </message>
  <message name="GetCombinaisons">
    <part name="parameters" element="tns:GetCombinaisons" />
  </message>
  <message name="GetCombinaisonsResponse">
    <part name="parameters" element="tns:GetCombinaisonsResponse" />
  </message>
  <portType name="OdeService">
    <operation name="MaterialisationPartielle">
      <input wsam:Action="http://projetode.org/OdeService/MaterialisationPartielleRequest" message="tns:MaterialisationPartielle" />
      <output wsam:Action="http://projetode.org/OdeService/MaterialisationPartielleResponse" message="tns:MaterialisationPartielleResponse" />
    </operation>
    <operation name="Metropolis">
      <input wsam:Action="http://projetode.org/OdeService/MetropolisRequest" message="tns:Metropolis" />
      <output wsam:Action="http://projetode.org/OdeService/MetropolisResponse" message="tns:MetropolisResponse" />
    </operation>
    <operation name="GetCombinaisons">
      <input wsam:Action="http://projetode.org/OdeService/GetCombinaisonsRequest" message="tns:GetCombinaisons" />
      <output wsam:Action="http://projetode.org/OdeService/GetCombinaisonsResponse" message="tns:GetCombinaisonsResponse" />
    </operation>
  </portType>
  <binding name="OdeServiceImplPortBinding" type="tns:OdeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="MaterialisationPartielle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Metropolis">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCombinaisons">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="OdeServiceImplService">
    <port name="OdeServiceImplPort" binding="tns:OdeServiceImplPortBinding">
      <soap:address location="http://localhost:8080/WebServiceOde/OdeServiceImplService" />
    </port>
  </service>
</definitions>