Projet_D314/Sources/Client/WpfApplication2/Service References/OdeService/OdeServiceImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://projetode.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="OdeServiceImplService" targetNamespace="http://projetode.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebServiceOde/OdeServiceImplService?xsd=1" namespace="http://projetode.org/" />
    </xsd:schema>
  </types>
  <message name="Metropolis">
    <part name="parameters" element="tns:Metropolis" />
  </message>
  <message name="MetropolisResponse">
    <part name="parameters" element="tns:MetropolisResponse" />
  </message>
  <message name="GetCombinaisons">
    <part name="parameters" element="tns:GetCombinaisons" />
  </message>
  <message name="GetCombinaisonsResponse">
    <part name="parameters" element="tns:GetCombinaisonsResponse" />
  </message>
  <message name="TestMetropolis">
    <part name="parameters" element="tns:TestMetropolis" />
  </message>
  <message name="TestMetropolisResponse">
    <part name="parameters" element="tns:TestMetropolisResponse" />
  </message>
  <message name="CleanCache">
    <part name="parameters" element="tns:CleanCache" />
  </message>
  <message name="CleanCacheResponse">
    <part name="parameters" element="tns:CleanCacheResponse" />
  </message>
  <message name="TestGetCombinaisons">
    <part name="parameters" element="tns:TestGetCombinaisons" />
  </message>
  <message name="TestGetCombinaisonsResponse">
    <part name="parameters" element="tns:TestGetCombinaisonsResponse" />
  </message>
  <message name="GetCombinaisonsIndex">
    <part name="parameters" element="tns:GetCombinaisonsIndex" />
  </message>
  <message name="GetCombinaisonsIndexResponse">
    <part name="parameters" element="tns:GetCombinaisonsIndexResponse" />
  </message>
  <message name="TestGetCombinaisonsIndex">
    <part name="parameters" element="tns:TestGetCombinaisonsIndex" />
  </message>
  <message name="TestGetCombinaisonsIndexResponse">
    <part name="parameters" element="tns:TestGetCombinaisonsIndexResponse" />
  </message>
  <message name="MaterialisationPartielle">
    <part name="parameters" element="tns:MaterialisationPartielle" />
  </message>
  <message name="MaterialisationPartielleResponse">
    <part name="parameters" element="tns:MaterialisationPartielleResponse" />
  </message>
  <message name="TestMaterialisationPartielle">
    <part name="parameters" element="tns:TestMaterialisationPartielle" />
  </message>
  <message name="TestMaterialisationPartielleResponse">
    <part name="parameters" element="tns:TestMaterialisationPartielleResponse" />
  </message>
  <portType name="OdeService">
    <operation name="Metropolis">
      <input wsam:Action="http://projetode.org/OdeService/MetropolisRequest" message="tns:Metropolis" />
      <output wsam:Action="http://projetode.org/OdeService/MetropolisResponse" message="tns:MetropolisResponse" />
    </operation>
    <operation name="GetCombinaisons">
      <input wsam:Action="http://projetode.org/OdeService/GetCombinaisonsRequest" message="tns:GetCombinaisons" />
      <output wsam:Action="http://projetode.org/OdeService/GetCombinaisonsResponse" message="tns:GetCombinaisonsResponse" />
    </operation>
    <operation name="TestMetropolis">
      <input wsam:Action="http://projetode.org/OdeService/TestMetropolisRequest" message="tns:TestMetropolis" />
      <output wsam:Action="http://projetode.org/OdeService/TestMetropolisResponse" message="tns:TestMetropolisResponse" />
    </operation>
    <operation name="CleanCache">
      <input wsam:Action="http://projetode.org/OdeService/CleanCacheRequest" message="tns:CleanCache" />
      <output wsam:Action="http://projetode.org/OdeService/CleanCacheResponse" message="tns:CleanCacheResponse" />
    </operation>
    <operation name="TestGetCombinaisons">
      <input wsam:Action="http://projetode.org/OdeService/TestGetCombinaisonsRequest" message="tns:TestGetCombinaisons" />
      <output wsam:Action="http://projetode.org/OdeService/TestGetCombinaisonsResponse" message="tns:TestGetCombinaisonsResponse" />
    </operation>
    <operation name="GetCombinaisonsIndex">
      <input wsam:Action="http://projetode.org/OdeService/GetCombinaisonsIndexRequest" message="tns:GetCombinaisonsIndex" />
      <output wsam:Action="http://projetode.org/OdeService/GetCombinaisonsIndexResponse" message="tns:GetCombinaisonsIndexResponse" />
    </operation>
    <operation name="TestGetCombinaisonsIndex">
      <input wsam:Action="http://projetode.org/OdeService/TestGetCombinaisonsIndexRequest" message="tns:TestGetCombinaisonsIndex" />
      <output wsam:Action="http://projetode.org/OdeService/TestGetCombinaisonsIndexResponse" message="tns:TestGetCombinaisonsIndexResponse" />
    </operation>
    <operation name="MaterialisationPartielle">
      <input wsam:Action="http://projetode.org/OdeService/MaterialisationPartielleRequest" message="tns:MaterialisationPartielle" />
      <output wsam:Action="http://projetode.org/OdeService/MaterialisationPartielleResponse" message="tns:MaterialisationPartielleResponse" />
    </operation>
    <operation name="TestMaterialisationPartielle">
      <input wsam:Action="http://projetode.org/OdeService/TestMaterialisationPartielleRequest" message="tns:TestMaterialisationPartielle" />
      <output wsam:Action="http://projetode.org/OdeService/TestMaterialisationPartielleResponse" message="tns:TestMaterialisationPartielleResponse" />
    </operation>
  </portType>
  <binding name="OdeServiceImplPortBinding" type="tns:OdeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Metropolis">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCombinaisons">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="TestMetropolis">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CleanCache">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="TestGetCombinaisons">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCombinaisonsIndex">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="TestGetCombinaisonsIndex">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="MaterialisationPartielle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="TestMaterialisationPartielle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="OdeServiceImplService">
    <port name="OdeServiceImplPort" binding="tns:OdeServiceImplPortBinding">
      <soap:address location="http://localhost:8080/WebServiceOde/OdeServiceImplService" />
    </port>
  </service>
</definitions>