Projet_D314/Sources/Client/WpfApplication2/Service References/OdeService/OdeServiceImplService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://projetode.org/" targetNamespace="http://projetode.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetCombinaisons" type="tns:GetCombinaisons" />
  <xs:element name="GetCombinaisonsResponse" type="tns:GetCombinaisonsResponse" />
  <xs:element name="MaterialisationPartielle" type="tns:MaterialisationPartielle" />
  <xs:element name="MaterialisationPartielleResponse" type="tns:MaterialisationPartielleResponse" />
  <xs:element name="Metropolis" type="tns:Metropolis" />
  <xs:element name="MetropolisResponse" type="tns:MetropolisResponse" />
  <xs:complexType name="GetCombinaisons">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="arg0" type="tns:dimension" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="arg1" type="tns:dimension" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dimension">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="GetCombinaisonsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:dimension" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Metropolis">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="arg0" type="tns:dimension" />
      <xs:element name="arg1" type="xs:double" />
      <xs:element name="arg2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MetropolisResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MaterialisationPartielle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="arg0" type="tns:dimension" />
      <xs:element name="arg1" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MaterialisationPartielleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>